#mac-table {
    text-align: center;
}

#mac-table tr td:nth-child(2) {
    font-family: Consolas, monaco, monospace;
}

#mac-form {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}